.container{
  height: 70vh;
  width: 100vw;
  background-color: #1d3557;
  margin: 0 auto;
  padding: 10rem 2rem;

  display: flex;
  flex-direction: column;
}
.spacer{
  height: 10rem;
  background-color: #040e1d;
}

.siteBody{
  display: flex;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
  min-height: 110vh;
  background-color: #040e1d;
}

.wave{
  position: relative;
  bottom: -20px;
  padding: 0%;
  margin: 0%;
}
