.containerProfile{
  height: 100vh;
  background-color: #1d3557;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}

.siteBody{
  display: flex;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding: 0%;
  margin: 0%;
  min-height: 150vh;
  background-color: #040e1d;
}

.wave{
  position: relative;
  bottom: -1rem;
  padding: 0%;
  margin: 0%;
}
