.container{
    /* background-color: #023047; */
    background-color: #122642;
    max-width: 38rem;
    min-height: 8rem;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-self: center;
    color: #acff7c;
    
}

.tilt{
    transform-style: preserve-3d;
    margin:  auto;
    width: 30rem;
    height: auto;
}

.container img{
   max-width: 12rem;
   align-self: center;
   border-radius: 50%;
   margin: 2rem;
   border: #acff7c;
   border-style: solid;
   transform: translateZ(50px);
}

.container h1{
    font-size: 2.5rem;
    align-self: center;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    transform: translateZ(45px);
}

.container > p{
    margin: 0;
    font-size: 1.5rem;
    align-self: center;
    padding: 0.2rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transform: translateZ(75px);
}

.subText{
    font-size: 1.3rem;
    margin: 3rem;
    transform: translateZ(70px);
}

@media screen and (max-width: 950px) {
    .container{
     margin-top: 19rem;
    }
  }