

.position{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-self: center;

}

.body{
    
    color: #acff7c;
    display: flex;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: 30rem;
    min-width: 17rem;   
    align-items: center;
    background-color: #122642;
    border: #acff7c;
    border-style: solid;
    margin: 2rem;
}

.tilt{
    transform-style: preserve-3d;
    margin:  auto;
    width: 30rem;
    height: auto;
}

.body img{
    
    margin: 1rem;
    align-self: center;
    width: 10rem;
    height: 9rem;
    max-width: 10rem;
    max-height: 9rem;
    border-radius: 10px;
    transform: translateZ(30px);
}

.body h1{
    align-self: center;
    transform: translateZ(50px);
    font-size: 1.8rem;
}

.body p{
    margin: 0rem;
    padding: 0rem 1rem;
    transform: translateZ(30px);
    padding: 2rem;
    font-size: 1.6rem;


}


@media screen and (min-width: 1200px) {
   .tilt{
       margin: 5rem;
   }
  }
  